@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@source inline("dark:{flex,hidden} dark:border-gray-700/50 dark:border-gray-700 dark:hover:bg-gray-700");

@theme {
  --color-primary: #24c0eb;
  --color-secondary: #66d3f1;
  --color-bermuda: #78dcca;
}

@layer base {
  html {
    font-family: 'Roboto', sans-serif;

    @apply min-h-screen leading-[140%] text-base md:overflow-y-scroll;

    /* @apply overflow-y-auto [&::-webkit-scrollbar]:w-1 [&::-webkit-scrollbar-track]:bg-gray-800 [&::-webkit-scrollbar-thumb]:bg-gray-600 dark:[&::-webkit-scrollbar-track]:bg-blue-700 dark:[&::-webkit-scrollbar-thumb]:bg-blue-500; */
  }
  body {
    @apply min-h-screen min-w-[320px] text-gray-900 bg-gray-50 dark:bg-gray-900 dark:text-white;
  }
  input {
    outline: none;
    -moz-appearance: textfield;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    @apply leading-[140%];
  }

  h1 {
    @apply text-2xl md:text-3xl font-bold;
  }
  h2 {
    @apply text-xl md:text-2xl font-bold;
  }
  h3 {
    @apply text-lg md:text-xl font-bold;
  }
  h4 {
    @apply text-base md:text-lg font-bold;
  }
  h5 {
    @apply text-sm md:text-base font-bold;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    transition: background-color 9999s ease-in-out 0s;
  }
  .dark {
    input::-webkit-calendar-picker-indicator {
      filter: invert(1);
    }
  }
  input {
    background: transparent;
  }
}

@layer utilities {
  .no-scrollbar {
    overflow-x: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .scrollbar::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    @apply bg-gray-200;
  }
  .scrollbar::-webkit-scrollbar-thumb {
    @apply bg-gray-400;
    border-radius: 100vh;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    @apply bg-gray-400;
  }

  .dark {
    .scrollbar::-webkit-scrollbar-track {
      @apply bg-gray-800;
    }

    .scrollbar::-webkit-scrollbar-thumb {
      @apply bg-gray-600;
    }

    .scrollbar::-webkit-scrollbar-thumb:hover {
      @apply bg-gray-600;
    }
  }
}
